<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/navigation.css">
    <title>Computer Science faculty</title>
</head>

<body>
<header>
    <div th:replace="fragments/navbar::navbar"></div>
</header>
<main>
    <div class="container">
        <h2 class="title">Create student</h2>
        <form method="POST" th:action="@{/student/create}">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="Your name..">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Your last name..">

            <label for="yearInCollege">Year in college</label>
            <select id="yearInCollege" name="yearInCollege">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="submit" value="Submit">
        </form>
    </div>
</main>
</body>

</html>