<h1 class="title">Students and disciplines</h1>
<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
            <th>Actions</th>
        </tr>
        {{#each students}}
        <tr>
            <td>{{full_name}}</td>
            <td>
                {{#if enrolledSubjects}}
                    {{enrolledSubjects}}
                {{else}}
                    <p>Student isn't enrolled in any subjects.</p>
                {{/if}}
            </td>
            <td>
                <a class="button" href="/enroll-to-discipline/{{student_id}}">Add disciplines</a>
                <a class="button" href="/remove-from-discipline/{{student_id}}">Remove disciplines</a>
            </td>
        </tr>
        {{else}}
        <p>No students available ...</p>
        {{/each}}
    </table>
</div>